:root {
  --complete-kyc-html-font-awesome-5-free-regular-18-font-family: "FontAwesome 5 Free-Regular", Helvetica;
  --complete-kyc-html-font-awesome-5-free-regular-18-font-size: 18px;
  --complete-kyc-html-font-awesome-5-free-regular-18-font-style: normal;
  --complete-kyc-html-font-awesome-5-free-regular-18-font-weight: 400;
  --complete-kyc-html-font-awesome-5-free-regular-18-letter-spacing: 0.20000000298023224px;
  --complete-kyc-html-font-awesome-5-free-regular-18-line-height: 18px;
  --complete-kyc-html-font-awesome-5-free-regular-18-upper-font-family: "FontAwesome 5 Free-Regular", Helvetica;
  --complete-kyc-html-font-awesome-5-free-regular-18-upper-font-size: 18px;
  --complete-kyc-html-font-awesome-5-free-regular-18-upper-font-style: normal;
  --complete-kyc-html-font-awesome-5-free-regular-18-upper-font-weight: 400;
  --complete-kyc-html-font-awesome-5-free-regular-18-upper-letter-spacing: 0.20000000298023224px;
  --complete-kyc-html-font-awesome-5-free-regular-18-upper-line-height: 18px;
  --complete-kyc-html-font-awesome-5-free-regular-24-font-family: "FontAwesome 5 Free-Regular", Helvetica;
  --complete-kyc-html-font-awesome-5-free-regular-24-font-size: 24px;
  --complete-kyc-html-font-awesome-5-free-regular-24-font-style: normal;
  --complete-kyc-html-font-awesome-5-free-regular-24-font-weight: 400;
  --complete-kyc-html-font-awesome-5-free-regular-24-letter-spacing: 0.20000000298023224px;
  --complete-kyc-html-font-awesome-5-free-regular-24-line-height: 24px;
  --complete-kyc-html-inter-regular-24-font-family: "Inter-Regular", Helvetica;
  --complete-kyc-html-inter-regular-24-font-size: 24px;
  --complete-kyc-html-inter-regular-24-font-style: normal;
  --complete-kyc-html-inter-regular-24-font-weight: 400;
  --complete-kyc-html-inter-regular-24-letter-spacing: 0.20000000298023224px;
  --complete-kyc-html-inter-regular-24-line-height: 26px;
  --complete-kyc-html-poppins-medium-12-font-family: "Poppins-Medium", Helvetica;
  --complete-kyc-html-poppins-medium-12-font-size: 12px;
  --complete-kyc-html-poppins-medium-12-font-style: normal;
  --complete-kyc-html-poppins-medium-12-font-weight: 500;
  --complete-kyc-html-poppins-medium-12-letter-spacing: 0.20000000298023224px;
  --complete-kyc-html-poppins-medium-12-line-height: 26px;
  --complete-kyc-html-poppins-medium-12-upper-font-family: "Poppins-Medium", Helvetica;
  --complete-kyc-html-poppins-medium-12-upper-font-size: 12px;
  --complete-kyc-html-poppins-medium-12-upper-font-style: normal;
  --complete-kyc-html-poppins-medium-12-upper-font-weight: 500;
  --complete-kyc-html-poppins-medium-12-upper-letter-spacing: 0.20000000298023224px;
  --complete-kyc-html-poppins-medium-12-upper-line-height: 18px;
  --complete-kyc-html-poppins-medium-14-font-family: "Poppins-Medium", Helvetica;
  --complete-kyc-html-poppins-medium-14-font-size: 14px;
  --complete-kyc-html-poppins-medium-14-font-style: normal;
  --complete-kyc-html-poppins-medium-14-font-weight: 500;
  --complete-kyc-html-poppins-medium-14-letter-spacing: 0px;
  --complete-kyc-html-poppins-medium-14-line-height: normal;
  --complete-kyc-html-poppins-regular-14-font-family: "Poppins-Regular", Helvetica;
  --complete-kyc-html-poppins-regular-14-font-size: 14px;
  --complete-kyc-html-poppins-regular-14-font-style: normal;
  --complete-kyc-html-poppins-regular-14-font-weight: 400;
  --complete-kyc-html-poppins-regular-14-letter-spacing: 0px;
  --complete-kyc-html-poppins-regular-14-line-height: normal;
  --complete-kyc-html-poppins-regular-14-upper-font-family: "Poppins-Regular", Helvetica;
  --complete-kyc-html-poppins-regular-14-upper-font-size: 14px;
  --complete-kyc-html-poppins-regular-14-upper-font-style: normal;
  --complete-kyc-html-poppins-regular-14-upper-font-weight: 400;
  --complete-kyc-html-poppins-regular-14-upper-letter-spacing: 0px;
  --complete-kyc-html-poppins-regular-14-upper-line-height: 21px;
  --complete-kyc-html-poppins-regular-24-font-family: "Poppins-Regular", Helvetica;
  --complete-kyc-html-poppins-regular-24-font-size: 24px;
  --complete-kyc-html-poppins-regular-24-font-style: normal;
  --complete-kyc-html-poppins-regular-24-font-weight: 400;
  --complete-kyc-html-poppins-regular-24-letter-spacing: 0.20000000298023224px;
  --complete-kyc-html-poppins-regular-24-line-height: 28.799999237060547px;
  --complete-kychtmlathens-gray: rgba(233, 236, 239, 1);
  --complete-kychtmlblack: rgba(0, 0, 0, 1);
  --complete-kychtmlblack-125: rgba(0, 0, 0, 0.12);
  --complete-kychtmlboulder: rgba(118, 118, 118, 1);
  --complete-kychtmlconcrete: rgba(242, 242, 242, 1);
  --complete-kychtmldenim: rgba(24, 116, 193, 1);
  --complete-kychtmldove-gray: rgba(107, 107, 107, 1);
  --complete-kychtmleucalyptus: rgba(40, 167, 69, 1);
  --complete-kychtmlgallery: rgba(239, 239, 239, 1);
  --complete-kychtmlgeyser: rgba(222, 226, 230, 1);
  --complete-kychtmlmercury: rgba(230, 230, 230, 1);
  --complete-kychtmlmine-shaft: rgba(45, 45, 45, 1);
  --complete-kychtmlnero: rgba(255, 255, 255, 1);
  --complete-kychtmlpale-sky: rgba(108, 117, 125, 1);
  --complete-kychtmlpunch: rgba(220, 53, 69, 1);
  --complete-kychtmlshark: rgba(33, 37, 41, 1);
  --complete-kychtmlsilver: rgba(204, 204, 204, 1);
  --complete-kychtmltarawera: rgba(7, 61, 89, 1);
}
